@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');


.game-zone-balloons {
    width: 800px;
    height: 600px;
    margin: auto;
    /*border: 5px solid black;*/
    position: relative;
    background-color: #007ced;
    background: linear-gradient(to bottom, #007ced 1%,#cce7ff 100%);
    overflow: hidden;
}

#cloud-intro {
    position: relative;
    height: 100%;
    background: url(https://static.radulescu.me/examples/clouds/clouds1000.png);
    background: url(https://static.radulescu.me/examples/clouds/clouds1000.png) 0 200px,
    url(https://static.radulescu.me/examples/clouds/clouds1200_1.png) 0 300px,
    url(https://static.radulescu.me/examples/clouds/clouds1000_blur3.png) 100px 250px;
    animation: wind 30s linear infinite;
}

@keyframes wind{
    0% {
        background-position: 0 200px, 0 300px, 100px 250px;
    }
    100% {
        background-position: 1000px 200px, 1200px 300px, 1100px 250px;
    }

}

.wrapper {
    display: inline-block;
    position: absolute;
    top: 600px;
    /*transition: top 6s;*/
    transition-timing-function: ease-in;
}

.up {
    top: -200px;
    /*transition: top 6s;*/
}

.balloon {
    position: absolute;
    border-radius: 80%;
    width: 120px;
    height: 120px;
    /*background-color: #ffc0cb;*/
    /*box-shadow: 10px 5px 5px rgba(211, 211, 211, .5);*/
    /*border: solid rgba(211, 211, 211, .5);*/
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow:inset -5px -7px 10px rgba(0,0,0,.1);
}

.balloon:before {
    content:"";
    display:block;
    position:absolute;
    width:50%;
    height:50%;
    top:7.5%;
    left:7.5%;
    border-radius: 75% 25%;
    box-shadow:inset 10px 10px 50px rgba(255,255,255,.5);
}

.wrapper h1 {
    margin-top: 35px;
    font-weight: 900;
    color: green;
    font-family: 'Patrick Hand', cursive;
}

.pop {
    width: 100px;
    height: 150px;
    transition: none;
    background-image: url("../image/explosion.svg");

}

.explosion {
    /*position: absolute;*/
    width: 150px;
    height: 150px;
    margin-top: -30px;
    margin-left: 5px;
    z-index: 3;
    background-image: url("../image/explosion.svg");
    background-size:contain;

    /*transform: scale(1);*/
}

/*@keyframes cssAnimation {*/
/*    0%   {opacity: 1;}*/
/*    90%  {opacity: .5;}*/
/*    100% {opacity: 0;}*/
/*}*/

.test {
    position: absolute;
    left: 50px;
    top: 100px;
}

.blue {
    background-color: #c4e7f7;
}

.yellow {
    background-color: #FFEF9B;
}

.pink {
    background-color: #F6B3D2;
}

.green {
    background-color: #D0DF9D;
}

.orange {
    background-color: #FADEAD;
}

