
.game-zone-balloons {
    width: 800px;
    height: 600px;
    margin: auto;
    /*border: 5px solid black;*/
    position: relative;
    background-color: palegoldenrod;
    background-size: 800px 600px;
    overflow: hidden;
}

.wrapper {
    display: inline-block;
    position: absolute;
    top: 600px;
    transition: top 6s;
    transition-timing-function: ease-in;
}

.balloon {
    position: absolute;
    border-radius: 80%;
    width: 100px;
    height: 150px;
    background-color: pink;
    /*box-shadow: 10px 5px 5px rgba(211, 211, 211, .5);*/
    /*border: solid rgba(211, 211, 211, .5);*/
    text-align: center;
    justify-content: center;
    align-items: center;
}

.up {
    top: -200px;
    /*transition: top 6s;*/
}

.wrapper h1 {
    margin-top: 50px;
    font-weight: 900;
    color: green;
}

.pop {
    width: 100px;
    height: 150px;
    transition: none;
    background-image: url("../image/explosion.svg");

}

.explosion {
    /*position: absolute;*/
    width: 200px;
    height: 200px;
    margin-top: -20px;
    margin-left: -50px;
    z-index: 3;
    background-image: url("../image/explosion.svg");
}

/*@keyframes cssAnimation {*/
/*    0%   {opacity: 1;}*/
/*    90%  {opacity: .5;}*/
/*    100% {opacity: 0;}*/
/*}*/

.test {
    position: absolute;
    left: 50px;
    top: 100px;
}
