body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.aim {
  cursor: url('./svg/aim.svg') 20 20, auto;
}

.game-zone {
  width: 800px;
  height: 600px;
  margin: auto;
  border: 5px solid black;
  position: relative;
  background-color: teal;
}

.figure {
  width: 50px;
  height: 150px;
  position: absolute;
  bottom: 0;
}


.third {
  right: 50px;
}

.second {
  right: 150px;
}

.first {
  right: 250px;
}
.red {
  background-color: #ff0000 !important;
}

.grey {
  background-color: grey;
}

.darkgrey {
  background-color: darkgrey;
}
