body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.aim {
    cursor: url('./svg/aim.svg') 20 20, auto;
    color: azure;
}

.game-zone {
    width: 800px;
    height: 600px;
    margin: auto;
    /*border: 5px solid black;*/
    position: relative;
    background-image: url("./svg/Frame 1 (1).png");
    background-size: 800px 600px;
    /*background-image: url("./svg/camouflage.png");*/
    /*opacity: .8;*/
    /*z-index: 1;*/
}

.start-zone {
    width: 800px;
    height: 600px;
    margin: auto;
    /*border: 5px solid black;*/
    /*position: relative;*/
    background-image: url("./svg/Frame 1 (1).png");
    /*background-size: 800px 600px;*/
    /*background-image: url("./svg/camouflage.png");*/
    /*opacity: .8;*/
    /*z-index: 1;*/
}

/*.bushes {*/
/*    position: absolute;*/
/*    width: 790px;*/
/*    height: 100px;*/
/*    left: 0px;*/
/*    !*background-image: url("./svg/Grass.png");*!*/
/*    background-size: 800px 20px;*/
/*    background-repeat: no-repeat;*/
/*    z-index: 1;*/
/*}*/

.info {
    display: block;
    background-color: white;
    margin: auto;
    padding-top: 7rem;
    text-align: center;
    color: dimgrey;
    position: relative;
    /*z-index: 3;*/
}

.start {
    /*display: block;*/
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    padding: 10px;
    border-radius: 7px;
    font-size: large;
    /*z-index: 2;*/
}
